body{
    background: #000;
}



/*Esto es parte de la barra de navegación*/
header{
    width: 100%;
    position: fixed;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 100px;
    transition: 0.5s;
}
/*Barra de navegación*/
.logo{
    height: 100%;
    line-height: 7 0px;
    cursor: pointer;
}
.main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu-items{
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    color: rgba(0, 0, 0, 0);
}
.menu-items:hover{
    color: var(--main-color);
}

/*estilo del icono*/


.container .btn-menu{
    color: #fff;
    line-height: 100px;
    text-align: left;
    font-size: 40px;
}

.container .btn-menu label{
    color: #fff;
    line-height: 100px;
    text-align: left;
    font-size: 40px;
    cursor: pointer;
}

/*Menu lateral*/
#btn-menu{
    display:none;

}

.container-menu{
    position:right;
    background: #000;
    width: 100%;
    height: 0vh;
    top: 0%; left: 83%;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    
}

#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}

.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #000;
    height: 100vh;
    position:right;
    transition: all 500ms ease;
    transform: translateX(531%);
   

    align-items: center;
 
}

#btn-menu:checked ~ .container-menu .cont-menu{
    opacity: 1;
    visibility: visible;
    transform: translateX(405%);

}

.cont-menu nav{
    transform: translateY(15%);
}

.cont-menu nav a{
    display:block;
    font-size: 30px;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}

.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
}

/*Animaciones de imagenes*/

section{
    height: 50vh;
    font-size:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000; 
} 

section img{
    width: 350px;
    margin: 0 50px;
}
/*Otro css de imagen*/


/*Letras flotates*/
.btn-Noinstagram{
    position: fixed;
    width: 220px;
    height: 90px;
    line-height: 30px;
    bottom: 20px;
    right: 20px;
    color:#fff;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 1px 1px rb(0, 0, 0, 0.3);
    z-index: 100;

    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 100px;
    transition: 0.5s;
}

.btn-Noinstagram:hover{
    text-decoration: none;
    color:#FFD1DC;
}

a{
    text-decoration:none;
}


/*Segundo texto*/
.btn-instagram{
    position: fixed;
    width: 100px;
    height: 90px;
    line-height: 30px;
    bottom: 20px;
    right: 1100px;
    color:#fff;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 1px 1px rb(0, 0, 0, 0.3);
    z-index: 100;
 
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    transition: 0.5s;
}
.btn-instagram:hover{
    text-decoration: none;
    color:#FFD1DC;
}

/*Imagen ultimas*/



.contenedor3 {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 90%;
	max-width: 700px;
	margin: auto;
	text-align: justify;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    
}

/*Ver proyecto*/


.tit2{
    font-family:"Monument Extended";
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 15%;
    top: 0;
    transition: 1s ease all;
    padding-bottom: 30px;
    margin: 1170px 20px;
    writing-mode: vertical-rl;
    width: 20px;
    letter-spacing: 16px;
}




/*Ver proyecto*/
.ver2 {
    text-align: end;
    font-size: 20px;
    margin: 1070px -130px;
    color:#fff;
}

.tit3{
    font-family:"Monument Extended";
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 15%;
    top: 0;
    transition: 1s ease all;
    padding-bottom: 30px;
    margin: 1710px 20px;
    writing-mode: vertical-rl;
    width: 20px;
    letter-spacing: 10px;
}

/*Ver proyecto*/
.ver3{
    text-align: end;
    font-size: 20px;
    margin: -220px -130px;
    color:#fff;
}

/*Imagen una encima de otra*/
.heaven7{
    position:absolute;
    height:450px;
    width:650px;
    top: 350px;
    left : 500px;
    z-index: 1;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    object-fit: cover;
    cursor: pointer;
    border-radius: 6px;
  }
  .eye:hover{
    transform: scale(1.2);
  }
  
  .heaven
  {
    position:absolute;
    height:450px;
    width:600px;
    top: 290px;
    left : 400px;
    z-index: -1;
    cursor: pointer;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }

  .heaven3
  {
    position:absolute;
    height:200px;
    width:150px;
    top: 350px;
    left : 340px;
    z-index: -1;
    cursor: pointer;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }

  .heaven4
  {
    position:absolute;
    height:200px;
    width:150px;
    top: 600px;
    left : 430px;
    z-index: -1;
    cursor: pointer;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }


.Hello{
    position: relative;
    left: 30; 
    top: 0;
}

.contenedor4 {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 90%;
	max-width: 700px;
	margin: auto;
	text-align: justify;
}

.contenedor4 img.heaven{
	transform: translateX(-200px);
}

.contenedor4 img.eye {
	transform: translateX(100px);
}

.contenedor4 img.heaven3{
	transform: translateY(-200px);
}

.contenedor4 img.heaven4{
	transform: translateX(-200px);
}

.contenedor4 img.visible {
	opacity: 1;
	transform: scale(1) translateX(0);
}
/*Otra sección*/

.eye2{
    position:absolute;
    height:300px;
    width:420px;
    top: 1130px;
    left : 650px;
    z-index: 1;
    cursor: pointer;
    opacity: 1;
	transform: scale(0.9);
	transition: all 500ms ease;
    border-radius: 6px;
  }
  
#animacion img:hover{
    transform: scale(1.15);
}

  .heaven2
  {
    position:absolute;
    height:350px;
    width:500px;
    top: 1100px;
    left : 440px;
    z-index: -1;
    cursor: pointer;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }


.Hello2{
    position: relative;
    left: 30; 
    top: 0;
}

.contenedor5 {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 90%;
	max-width: 700px;
	margin: auto;
	text-align: justify;

}

.contenedor5 img.heaven2{
	transform: translateX(-200px);
}

.contenedor5 img.eye2 {
	transform: translateX(100px);
}

.contenedor5 img.visible {
	opacity: 1;
	transform: scale(1) translateX(0);
}

/*Otra sección 3*/
.eye3{
    position:absolute;
    height:350px;
    width:500px;
    top: 1680px;
    left : 560px;
    z-index: 1;
    cursor: pointer;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }
  
  .heaven5
  {
    position:absolute;
    height:300px;
    width:415px;
    top: 1700px;
    left : 440px;
    z-index: -1;
    cursor: pointer;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }


.Hello3{
    position: relative;
    left: 30; 
    top: 0;
}

.contenedor6 {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 90%;
	max-width: 700px;
	margin: auto;
	text-align: justify;
}

.contenedor6 img.heaven5{
	transform: translateX(-200px);
}

.contenedor6 img.eye3{
	transform: translateX(100px);
}

.contenedor6 img.visible {
	opacity: 1;
	transform: scale(1) translateX(0);
}

/*Otro contenedor*/
.eye4{
    position:absolute;
    height:300px;
    width:400px;
    top: 2300px;
    left : 650px;
    z-index: 1;
    cursor: pointer;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }
  
  .heaven6
  {
    position:absolute;
    height:350px;
    width:500px;
    top: 2270px;
    left : 440px;
    z-index: -1;
    cursor: pointer;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }


.Hello4{
    position: relative;
    left: 30; 
    top: 0;
}

.contenedor7 {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 90%;
	max-width: 700px;
	margin: auto;
	text-align: justify;
}

.contenedor7 img.heaven6{
	transform: translateX(-200px);
}

.contenedor7 img.eye4{
	transform: translateX(100px);
}

.contenedor7 img.visible {
	opacity: 1;
	transform: scale(1) translateX(0);
}


.tit4{
    font-family:"Monument Extended";
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 15%;
    top: 0;
    transition: 1s ease all;
    padding-bottom: 30px;
    margin: 2290px 20px;
    writing-mode: vertical-rl;
    width: 20px;
    letter-spacing: 10px;
}



.ver4 {
    text-align: end;
    font-size: 20px;
    margin: 320px -130px;
    color:#fff;}

/*Otra sesion*/
.eye5{
    position:absolute;
    height:300px;
    width:400px;
    top: 2900px;
    left : 650px;
    z-index: 1;
    cursor: pointer;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }
  
  .heaven8
  {
    position:absolute;
    height:350px;
    width:500px;
    top: 2870px;
    left : 440px;
    z-index: -1;
    cursor: pointer;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }


.contenedor8 {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 90%;
	max-width: 700px;
	margin: auto;
	text-align: justify;
}

.contenedor8 img.heaven8{
	transform: translateX(-200px);
}

.contenedor8 img.eye5{
	transform: translateX(100px);
}

.contenedor8 img.visible {
	opacity: 1;
	transform: scale(1) translateX(0);
}


.tit5{
    font-family:"Monument Extended";
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 15%;
    top: 0;
    transition: 1s ease all;
    padding-bottom: 30px;
    margin: 2890px 20px;
    writing-mode: vertical-rl;
    width: 20px;
    letter-spacing: 10px;
}

.ver5 {
    text-align: end;
    font-size: 20px;
    margin: 250px -130px;
    color:#fff;
}

/*Otra sesión de tatoo*/
.eye6{
    position:absolute;
    height:350px;
    width:500px;
    top: 3480px;
    left : 550px;
    z-index: 1;
    cursor: pointer;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }
  
  .heaven9
  {
    position:absolute;
    height:300px;
    width:400px;
    top: 3500px;
    left : 440px;
    z-index: -1;
    cursor: pointer;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }


.contenedor9 {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 90%;
	max-width: 700px;
	margin: auto;
	text-align: justify;
}

.contenedor9 img.heaven9{
	transform: translateX(-200px);
}

.contenedor9 img.eye6{
	transform: translateX(100px);
}

.contenedor9 img.visible {
	opacity: 1;
	transform: scale(1) translateX(0);
}


.tit6{
    font-family:"Monument Extended";
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 15%;
    top: 0;
    transition: 1s ease all;
    padding-bottom: 30px;
    margin: 3570px 20px;
    writing-mode: vertical-rl;
    width: 20px;
    letter-spacing: 10px;
}

.ver6 {
    text-align: end;
    font-size: 20px;
    margin: 350px -130px;
    color:#fff;
}

/*sección de estadias*/
.eye7{
    position:absolute;
    height:300px;
    width:400px;
    top: 4340px;
    left : 650px;
    z-index: 1;
    cursor: pointer;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }
  
  .heaven10
  {
    position:absolute;
    height:350px;
    width:500px;
    top: 4310px;
    left : 440px;
    z-index: -1;
    cursor: pointer;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }


.contenedor10 {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 90%;
	max-width: 700px;
	margin: auto;
	text-align: justify;
}

.contenedor10 img.heaven10{
	transform: translateX(-200px);
}

.contenedor10 img.eye7{
	transform: translateX(100px);
}

.contenedor10 img.visible {
	opacity: 1;
	transform: scale(1) translateX(0);
}


.tit7{
    font-family:"Monument Extended";
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 15%;
    top: 0;
    transition: 1s ease all;
    padding-bottom: 30px;
    margin: 4370px 20px;
    writing-mode: vertical-rl;
    width: 20px;
    letter-spacing: 10px;
}

.ver7 {
    text-align: end;
    font-size: 20px;
    margin: 450px -130px;
    color:#fff;
}

/**/
@keyframes mover{
    0%{
        transform: translate(100%);
    }
}

@keyframes mover1{
    0%{
        transform: translateX(-100%);
    }
}

@keyframes rebote{
    0%{
        transform: translateX(-100px);
    }
    25%{
        transform: translateX(-75px);
    }
    50%{
        transform: translateX(-50px);
    }
    75%{
        transform: translateX(-25px);
    }
 100%{
     transform: translateX(0px);
 }   
}


