	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
	}

body{
    background: #000;
}



/*Esto es parte de la barra de navegación*/
header{
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    height: 100px;
    transition: 0.5s;
}
/*Barra de navegación*/
.logo{
    height: 100%;
    line-height: 7 0px;
    cursor: pointer;
}
.main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu-items{
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    color: #000;
}
.menu-items:hover{
    color: var(--main-color);
}

/*estilo del icono*/


.container .btn-menu{
    color: #fff;
    line-height: 100px;
    text-align: left;
    font-size: 40px;
}

.container .btn-menu label{
    color: #fff;
    line-height: 100px;
    text-align: left;
    font-size: 40px;
    cursor: pointer;
}

/*Menu lateral*/
#btn-menu{
    display:none;

}

.container-menu{
    position:right;
    background: #000;
    width: 100%;
    height: 30vh;
    top: 0%; left: 83%;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}

.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #000;
    height: 100vh;
    position:right;
    transition: all 500ms ease;
    transform: translateX(531%);
}

#btn-menu:checked ~ .container-menu .cont-menu{
    opacity: 1;
    visibility: visible;
    transform: translateX(400%);
}

.cont-menu nav{
    transform: translateY(15%);
}

.cont-menu nav a{
    display:block;
    font-size: 30px;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}

.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
}

/*Animaciones de imagenes*/

section{
    height: 50vh;
    font-size:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000; 
} 

section img{
    width: 350px;
    margin: 0 50px;
}
/*Otro css de imagen*/


/*Letras flotates*/
.btn-Noinstagram{
    position: fixed;
    width: 220px;
    height: 90px;
    line-height: 30px;
    bottom: 20px;
    right: 20px;
    color:#fff;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 1px 1px rb(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-Noinstagram:hover{
    text-decoration: none;
    color:#FFD1DC;
}

a{
    text-decoration:none;
}


/*Segundo texto*/
.btn-instagram{
    position: fixed;
    width: 100px;
    height: 90px;
    line-height: 30px;
    bottom: 20px;
    right: 1100px;
    color:#fff;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 1px 1px rb(0, 0, 0, 0.3);
    z-index: 100;
}
.btn-instagram:hover{
    text-decoration: none;
    color:#FFD1DC;
}

/*Imagen ultimas*/



.contenedor3 {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 90%;
	max-width: 700px;
	margin: auto;
	text-align: justify;
}

.contenedor3 img{
	width: 100%;
	height: 400px;
	overflow: hidden;
	margin-bottom: 40px;
	border-radius: 5px;
	margin:100px 10px;

	opacity: 0;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
}

.contenedor3 img.izquierda {
	transform: translateX(-100px);
}

.contenedor3 img.derecha {
	transform: translateX(100px);
}

.contenedor3 img.visible {
	opacity: 1;
	transform: scale(1) translateX(0);
}



/*Ver proyecto*/


.tit2{
    font-family:"Monument Extended";
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 15%;
    top: 0;
    transition: 1s ease all;
    padding-bottom: 30px;
    margin: 1170px 20px;
    word-wrap: break-word;
    width: 20px;
}



/*Ver proyecto*/
.ver2 {
    text-align: end;
    font-size: 20px;
    margin: 300px -130px;
    color:#fff;
}

.tit3{
    font-family:"Monument Extended";
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 15%;
    top: 0;
    transition: 1s ease all;
    padding-bottom: 30px;
    margin: 1650px 20px;
    word-wrap: break-word;
    width: 20px;
}

/*Ver proyecto*/
.ver3 {
    text-align: end;
    font-size: 20px;
    margin: 530px -130px;
    color:#fff;
}

/*Imagen una encima de otra*/
.eye{
    position:absolute;
    height:500px;
    width:550px;
    top: 350px;
    left : 600px;
    z-index: 1;

    opacity: 0;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
  }
  
  .heaven
  {
    position:absolute;
    height:500px;
    width:600px;
    top: 290px;
    left : 400px;
    z-index: -1;

    opacity: 0;
	transform: scale(0.9);
	transition: .7s ease-in-out all
  }

  .heaven3
  {
    position:absolute;
    height:350px;
    width:200px;
    top: 200px;
    left : 450px;
    z-index: -1;

    opacity: 0;
	transform: scale(0.9);
	transition: .7s ease-in-out all
  }

  .heaven4
  {
    position:absolute;
    height:350px;
    width:200px;
    top: 600px;
    left : 300px;
    z-index: -1;

    opacity: 0;
	transform: scale(0.9);
	transition: .7s ease-in-out all
  }


.Hello{
    position: relative;
    left: 30; 
    top: 0;
}

.contenedor4 {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 90%;
	max-width: 700px;
	margin: auto;
	text-align: justify;
}

.contenedor4 img.heaven{
	transform: translateX(-200px);
}

.contenedor4 img.eye {
	transform: translateX(100px);
}

.contenedor4 img.visible {
	opacity: 1;
	transform: scale(1) translateX(0);
}
/*Otra sección*/

.eye2{
    position:absolute;
    height:300px;
    width:400px;
    top: 1130px;
    left : 700px;
    z-index: 1;

    opacity: 0;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
  }
  
  .heaven2
  {
    position:absolute;
    height:350px;
    width:500px;
    top: 1100px;
    left : 240px;
    z-index: -1;

    opacity: 0;
	transform: scale(0.9);
	transition: .7s ease-in-out all
  }


.Hello2{
    position: relative;
    left: 30; 
    top: 0;
}

.contenedor5 {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 90%;
	max-width: 700px;
	margin: auto;
	text-align: justify;
}

.contenedor5 img.heaven2{
	transform: translateX(-200px);
}

.contenedor5 img.eye2 {
	transform: translateX(100px);
}

.contenedor5 img.visible {
	opacity: 1;
	transform: scale(1) translateX(0);
}

/*Otra sección 3*/
.eye3{
    position:absolute;
    height:450px;
    width:600px;
    top: 1630px;
    left : 590px;
    z-index: 1;

    opacity: 0;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
  }
  
  .heaven5
  {
    position:absolute;
    height:300px;
    width:400px;
    top: 1700px;
    left : 230px;
    z-index: -1;

    opacity: 0;
	transform: scale(0.9);
	transition: .7s ease-in-out all
  }


.Hello3{
    position: relative;
    left: 30; 
    top: 0;
}

.contenedor6 {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 90%;
	max-width: 700px;
	margin: auto;
	text-align: justify;
}

.contenedor6 img.heaven5{
	transform: translateX(-200px);
}

.contenedor6 img.eye3{
	transform: translateX(100px);
}

.contenedor6 img.visible {
	opacity: 1;
	transform: scale(1) translateX(0);
}










