body{
    background: #000;
}



/*Esto es parte de la barra de navegación*/
header{
    width: 100%;
    position: fixed;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 100px;
    transition: 0.5s;
}
/*Barra de navegación*/
.logo{
    height: 100%;
    line-height: 7 0px;
    cursor: pointer;
}

.main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu-items{
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    color: rgba(0, 0, 0, 0);
}
.menu-items:hover{
    color: var(--main-color);
}

/*estilo del icono*/


.container .btn-menu{
    color: #fff;
    line-height: 100px;
    text-align: left;
    font-size: 40px;
}

.container .btn-menu label{
    color: #fff;
    line-height: 100px;
    text-align: left;
    font-size: 40px;
    cursor: pointer;
}

/*Menu lateral*/
#btn-menu{
    display:none;

}

.container-menu{
    position:right;
    background: #000;
    width: 100%;
    height: 0vh;
    top: 0%; left: 83%;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    
}

#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}

.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #000;
    height: 100vh;
    position:right;
    transition: all 500ms ease;
    transform: translateX(531%);
    align-items: center;
 
}

#btn-menu:checked ~ .container-menu .cont-menu{
    opacity: 1;
    visibility: visible;
    transform: translateX(405%);

}

.cont-menu nav{
    transform: translateY(15%);
}

.cont-menu nav a{
    display:block;
    font-size: 30px;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}

.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
}

/*Animaciones de imagenes*/
section{
    height: 50vh;
    font-size:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000; 
} 

section img{
    width: 350px;
    margin: 0 50px;
}
/*Otro css de imagen*/


/*Letras flotates*/
.btn-Noinstagram{
    position: fixed;
    width: 220px;
    height: 90px;
    line-height: 30px;
    bottom: 20px;
    right: 20px;
    color:#fff;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 1px 1px rb(0, 0, 0, 0.3);
    z-index: 100;

    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 100px;
    transition: 0.5s;
}

@media screen and (max-width: 550px) {
    .btn-Noinstagram{  
      font-size: 17px;
      right: -100px;
  }
}

.btn-Noinstagram:hover{
    text-decoration: none;
    color:#FFD1DC;
}


a{
    text-decoration:none;
}


/*Segundo texto*/
.btn-instagram{
    position: fixed;
    width: 100px;
    height: 90px;
    line-height: 30px;
    bottom: 20px;
    right: 1100px;
    color:#fff;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 1px 1px rb(0, 0, 0, 0.3);
    z-index: 100;
 
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    transition: 0.5s;
}

@media screen and (max-width: 550px) {
    .btn-instagram{  
      font-size: 17px;
  }
}

.btn-instagram:hover{
    text-decoration: none;
    color:#FFD1DC;
}

/*Imagen ultimas*/

.contenedor3 {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 50%;
	max-width: 700px;
	margin: auto;
	text-align: justify;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    
}
/*Ver proyecto*/
.tit2{
    font-family:"Monument Extended";
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 15%;
    top: 0;
    transition: 1s ease all;
    padding-bottom: 30px;
    margin: 1170px 0px;
    writing-mode: vertical-rl;
    width: 20px;
    letter-spacing: 16px;
}

@media screen and (max-width: 550px) {
    .tit2{  
      font-size: 17px;
      left: 0;
      margin: 1200px 30px;
  }
}




/*Ver proyecto*/
.ver2 {
    text-align: end;
    font-size: 20px;
    margin: 1070px -130px;
    color:#fff;
}

@media screen and (max-width: 550px) {
    .ver2{  
      margin: 1070px -110px;
      font-size: 15px;
  }
}

.tit3{
    font-family:"Monument Extended";
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 15%;
    top: 0;
    transition: 1s ease all;
    padding-bottom: 30px;
    margin: 1740px 0px;
    writing-mode: vertical-rl;
    width: 20px;
    letter-spacing: 10px;
}

@media screen and (max-width: 550px) {
    .tit3{  
      font-size: 17px;
      left: 0;
      margin: 1760px 30px;
  }
}

/*Ver proyecto*/
.ver3{
    text-align: end;
    font-size: 20px;
    margin: -220px -130px;
    color:#fff;
}

@media screen and (max-width: 550px) {
    .ver3{  
      margin: -290px -100px;
      font-size: 15px;
  }
}

/*Imagen una encima de otra*/
.heaven7{
    position:absolute;
    height:450px;
    width:650px;
    top: 350px;
    left : 500px;
    z-index: 1;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    object-fit: cover;
    border-radius: 6px;
  }

  @media screen and (max-width: 550px) {
    .heaven7{  
      opacity: 0;
      width: 90%;
      height: 500px;
      left: 0px;
      top: 290px;
  }
}

  .eye:hover{
    transform: scale(1.2);
  }
  
  .heaven
  {
    position:absolute;
    height:450px;
    width:600px;
    top: 290px;
    left : 400px;
    z-index: -1;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }

  @media screen and (max-width: 550px) {
    .heaven{  
      width: 90%;
      height: 400px;
      left: 230px;
      top: 290px;
  }
}

  .heaven3
  {
    position:absolute;
    height:200px;
    width:190px;
    top: 350px;
    left : 250px;
    z-index: -1;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }

  @media screen and (max-width: 550px) {
    .heaven3{  
      opacity: 0;
      width: 90%;
      height: 500px;
      left: 30px;
      top: 500px;
  }
}

  .heaven4
  {
    position:absolute;
    height:200px;
    width:190px;
    top: 640px;
    left : 430px;
    z-index: -1;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }

  @media screen and (max-width: 550px) {
    .heaven4{  
      opacity: 0;
      width: 90%;
      height: 500px;
      left: 230px;
      top: 290px;
  }
}


.Hello{
    position: relative;
    left: 30; 
    top: 0;
}

.contenedor4 {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 50%;
	max-width: 700px;
	margin: auto;
	text-align: justify;
}

.contenedor4 img.heaven{
	transform: translateX(-200px);
}

.contenedor4 img.eye {
	transform: translateX(100px);
}

.contenedor4 img.heaven3{
	transform: translateY(-200px);
}

.contenedor4 img.heaven4{
	transform: translateX(-200px);
}

.contenedor4 img.visible {
	opacity: 1;
	transform: scale(1) translateX(0);
}
/*Otra sección*/

.eye2{
    position:absolute;
    height:300px;
    width:420px;
    top: 1130px;
    left : 650px;
    z-index: 1;
    opacity: 1;
	transform: scale(0.9);
	transition: all 500ms ease;
    border-radius: 6px;
  }
  
  @media screen and (max-width: 550px) {
    .eye2{ 
      opacity: 0;
      width: 80%;
      height: 300px;
      left: -30px;
      top: 1130px;
  }
}

#animacion img:hover{
    transform: scale(1.15);
}

  .heaven2
  {
    position:absolute;
    height:350px;
    width:500px;
    top: 1100px;
    left : 440px;
    z-index: -1;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }

  @media screen and (max-width: 550px) {
    .heaven2{  
      width: 80%;
      left: 270px;
      top: 1100px;
  }
}

.Hello2{
    position: relative;
    left: 30; 
    top: 0;
}

.contenedor5 {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 50%;
	max-width: 700px;
	margin: auto;
	text-align: justify;

}

.contenedor5 img.heaven2{
	transform: translateX(-200px);
}

.contenedor5 img.eye2 {
	transform: translateX(100px);
}

.contenedor5 img.visible {
	opacity: 1;
	transform: scale(1) translateX(0);
}

/*Otra sección 3*/
.eye3{
    position:absolute;
    height:350px;
    width:500px;
    top: 1680px;
    left : 560px;
    z-index: 1;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }

  @media screen and (max-width: 550px) {
    .eye3{  
      opacity: 0;
      width: 50%;
      height: 300px;
      left: 0px;
      top: 1680px;
  }
}
  
  .heaven5
  {
    position:absolute;
    height:300px;
    width:415px;
    top: 1700px;
    left : 440px;
    z-index: -1;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }

  @media screen and (max-width: 550px) {
    .heaven5{  
      width: 80%;
      left: 270px;
      top: 1700px;
  }
}


.Hello3{
    position: relative;
    left: 30; 
    top: 0;
}

.contenedor6 {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 90%;
	max-width: 700px;
	margin: auto;
	text-align: justify;
}

.contenedor6 img.heaven5{
	transform: translateX(-200px);
}

.contenedor6 img.eye3{
	transform: translateX(100px);
}

.contenedor6 img.visible {
	opacity: 1;
	transform: scale(1) translateX(0);
}

/*Otro contenedor*/
.eye4{
    position:absolute;
    height:300px;
    width:400px;
    top: 2300px;
    left : 650px;
    z-index: 1;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }

  @media screen and (max-width: 550px) {
    .eye4{  
      opacity: 0;
      width: 40%;
      height: 200px;
      left: 0px;
      top: 2300px;
  }
}
  
  .heaven6
  {
    position:absolute;
    height:350px;
    width:500px;
    top: 2270px;
    left : 440px;
    z-index: -1;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }

  @media screen and (max-width: 550px) {
    .heaven6{  
      width: 80%;
      left: 270px;
      top: 2270px;
  }
}


.Hello4{
    position: relative;
    left: 30; 
    top: 0;
}

.contenedor7 {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 50%;
	max-width: 700px;
	margin: auto;
	text-align: justify;
}

.contenedor7 img.heaven6{
	transform: translateX(-200px);
}

.contenedor7 img.eye4{
	transform: translateX(100px);
}

.contenedor7 img.visible {
	opacity: 1;
	transform: scale(1) translateX(0);
}


.tit4{
    font-family:"Monument Extended";
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 15%;
    top: 0;
    transition: 1s ease all;
    padding-bottom: 30px;
    margin: 2290px 0px;
    writing-mode: vertical-rl;
    width: 20px;
    letter-spacing: 10px;
}

@media screen and (max-width: 550px) {
    .tit4{  
      font-size: 17px;
      left: 0;
      margin: 2340px 30px;
  }
}

.ver4 {
    text-align: end;
    font-size: 20px;
    margin: 320px -130px;
    color:#fff;}

    @media screen and (max-width: 550px) {
        .ver4{  
          margin: 320px -100px;
          font-size: 15px;
      }
    }
/*Otra sesion*/
.eye5{
    position:absolute;
    height:300px;
    width:400px;
    top: 2900px;
    left : 650px;
    z-index: 1;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }
  
  @media screen and (max-width: 550px) {
    .eye5{  
      opacity: 0;
      width: 30%;
      height: 300px;
      left: 0px;
      top: 2900px;
  }
}

  .heaven8
  {
    position:absolute;
    height:350px;
    width:500px;
    top: 2870px;
    left : 440px;
    z-index: -1;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }

  @media screen and (max-width: 550px) {
    .heaven8{  
      width: 80%;
      left: 270px;
      top: 2870px;
  }
}


.contenedor8 {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 50%;
	max-width: 700px;
	margin: auto;
	text-align: justify;
}

.contenedor8 img.heaven8{
	transform: translateX(-200px);
}

.contenedor8 img.eye5{
	transform: translateX(100px);
}

.contenedor8 img.visible {
	opacity: 1;
	transform: scale(1) translateX(0);
}


.tit5{
    font-family:"Monument Extended";
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 15%;
    top: 0;
    transition: 1s ease all;
    padding-bottom: 30px;
    margin: 2890px 0px;
    writing-mode: vertical-rl;
    width: 20px;
    letter-spacing: 10px;
}

@media screen and (max-width: 550px) {
    .tit5{  
      font-size: 17px;
      left: 0;
      margin: 2940px 30px;
  }
}
.ver5 {
    text-align: end;
    font-size: 20px;
    margin: 250px -130px;
    color:#fff;
}

@media screen and (max-width: 550px) {
    .ver5{  
      font-size: 15px;
      margin: 270px -100px;
  }
}

/*Otra sesión de tatoo*/
.eye6{
    position:absolute;
    height:350px;
    width:500px;
    top: 3480px;
    left : 550px;
    z-index: 1;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }

  @media screen and (max-width: 550px) {
    .eye6{  
      opacity: 0;
      width: 30%;
      height: 100px;
      left: 0px;
      top: 3480px;
  }
} 
  
  .heaven9
  {
    position:absolute;
    height:300px;
    width:400px;
    top: 3500px;
    left : 440px;
    z-index: -1;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }

  @media screen and (max-width: 550px) {
    .heaven9{  
      width: 80%;
      left: 270px;
      top: 3500px;
  }
}

.contenedor9 {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 50%;
	max-width: 700px;
	margin: auto;
	text-align: justify;
}

.contenedor9 img.heaven9{
	transform: translateX(-200px);
}

.contenedor9 img.eye6{
	transform: translateX(100px);
}

.contenedor9 img.visible {
	opacity: 1;
	transform: scale(1) translateX(0);
}


.tit6{
    font-family:"Monument Extended";
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 15%;
    top: 0;
    transition: 1s ease all;
    padding-bottom: 30px;
    margin: 3570px 0px;
    writing-mode: vertical-rl;
    width: 20px;
    letter-spacing: 10px;
}

@media screen and (max-width: 550px) {
    .tit6{  
      font-size: 17px;
      left: 0;
      margin: 3570px 30px;
  }
}

.ver6 {
    text-align: end;
    font-size: 20px;
    margin: 350px -130px;
    color:#fff;
}

@media screen and (max-width: 550px) {
    .ver6{  
      font-size: 15px;
      margin: 320px -100px;
  }
}

/*sección de estadias*/
.eye7{
    position:absolute;
    height:300px;
    width:400px;
    top: 4190px;
    left : 650px;
    z-index: 1;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }

  @media screen and (max-width: 550px) {
    .eye7{  
      opacity: 0;
      width: 30%;
      height: 200px;
      left: 0px;
      top: 4190px;
  }
}
  
  .heaven10
  {
    position:absolute;
    height:350px;
    width:500px;
    top: 4170px;
    left : 440px;
    z-index: -1;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }

  @media screen and (max-width: 550px) {
    .heaven10{  
      width: 80%;
      left: 270px;
      top: 4170px;
  }
}

.contenedor10 {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 50%;
	max-width: 700px;
	margin: auto;
	text-align: justify;
}

.contenedor10 img.heaven10{
	transform: translateX(-200px);
}

.contenedor10 img.eye7{
	transform: translateX(100px);
}

.contenedor10 img.visible {
	opacity: 1;
	transform: scale(1) translateX(0);
}


.tit7{
    font-family:"Monument Extended";
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 15%;
    top: 0;
    transition: 1s ease all;
    padding-bottom: 30px;
    margin: 4270px 0px;
    writing-mode: vertical-rl;
    width: 20px;
    letter-spacing: 10px;
}

@media screen and (max-width: 550px) {
    .tit7{  
      font-size: 17px;
      left: 0;
  }
}

.ver7 {
    text-align: end;
    font-size: 20px;
    margin: 300px -130px;
    color:#fff;
}

@media screen and (max-width: 550px) {
    .ver7{  
      font-size: 15px;
      margin: 350px -100px;
  }
}
/*Otra sección siiu*/
.eye8{
    position:absolute;
    height:300px;
    width:400px;
    top: 4870px;
    left : 650px;
    z-index: 1;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }

  @media screen and (max-width: 550px) {
    .eye8{  
      opacity: 0;
      width: 40%;
      height: 200px;
      left: 0px;
      top: 4870px;
  }
}
  
  .heaven11
  {
    position:absolute;
    height:350px;
    width:500px;
    top: 4845px;
    left : 440px;
    z-index: -1;
    opacity: 1;
	transform: scale(0.9);
	transition: .7s ease-in-out all;
    border-radius: 6px;
  }

  @media screen and (max-width: 550px) {
    .heaven11{  
      width: 80%;
      left: 270px;
      top: 4845px;
  }
}


.contenedor11 {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 50%;
	max-width: 700px;
	margin: auto;
	text-align: justify;
}

.contenedor11 img.heaven11{
	transform: translateX(-200px);
}

.contenedor11 img.eye8{
	transform: translateX(100px);
}

.contenedor11 img.visible {
	opacity: 1;
	transform: scale(1) translateX(0);
}


.tit8{
    font-family:"Monument Extended";
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 15%;
    top: 0;
    transition: 1s ease all;
    padding-bottom: 30px;
    margin: 4900px 0px;
    writing-mode: vertical-rl;
    width: 20px;
    letter-spacing: 10px;
}

@media screen and (max-width: 550px) {
    .tit8{  
      font-size: 17px;
      left: 0;
      margin: 4940px 30px;
  }
}

.ver8 {
    text-align: end;
    font-size: 20px;
    margin: 330px -130px;
    color:#fff;
}

@media screen and (max-width: 550px) {
    .ver8{  
      font-size: 15px;
      margin: 330px -100px;
  }
}

/**/
@keyframes mover{
    0%{
        transform: translate(100%);
    }
}

@keyframes mover1{
    0%{
        transform: translateX(-100%);
    }
}

@keyframes rebote{
    0%{
        transform: translateX(-100px);
    }
    25%{
        transform: translateX(-75px);
    }
    50%{
        transform: translateX(-50px);
    }
    75%{
        transform: translateX(-25px);
    }
 100%{
     transform: translateX(0px);
 }   
}


